
body {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}


h1 {
  color: #0D47A1;
  font-weight: 600;
}

.bg-primary {
  background-color: #0D47A1 !important;
}
.bg-secondary {
  background-color: #FFC947 !important;
}

dt {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: .5rem;
}
dd {
  margin-bottom: 2em;
}

blockquote {
  font-style: italic;
  color: #002171 !important;
  margin-top: 2em;
}

.white {
  color: white;
}

.py-5 {
  padding-top: 6em !important;
  padding-bottom: 6em !important;
}
