
body {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}


h1 {
  color: #0D47A1;
  font-weight: 600;
}

.bg-primary {
  background-color: #0D47A1 !important;
}
.bg-secondary {
  background-color: #FFC947 !important;
}

a.on-yellow {
  color: #0D47A1 !important
}

dl {
  margin-top: 2em;
}

dt {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: .5rem;
}
dd {
  margin-bottom: 2em;
}

blockquote p::before {
  content: '“';
  display: block;
  font-style: normal;
  font-size: 6rem;
  margin-bottom: -6rem;
  margin-left: -2rem;
  color: #FFC947;
}

blockquote p {
  font-style: italic;
  color: #002171 !important;
  margin-top: 2em;
  line-height: 1.4;
  margin-left: 2rem;
}

.white {
  color: white;
}

.py-5 {
  padding-top: 6em !important;
  padding-bottom: 6em !important;
}

.btn-primary {
  background-color: #0D47A1;
  border-color: #0D47A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #002171 !important;
  border-color: #002171 !important;
}

.btn-lg {
  padding: 1rem 2rem;
  font-size: 2.5rem;
}