<section class="bg-secondary">
  <div class="container py-4">
    <h1 class="display-4 text-uppercase">{{page.title}}</h1>
  </div>
</section>
  <div class="container">
    <div class="row py-4">
      <div class="col-md">
        <p class="h3 font-weight-bold mb-4">{{page.tagline}}</p>
        {{content}}
        <a class="btn btn-primary btn-lg d-block d-lg-inline-block" href="#contact-me" role="button">{{page.call-to-action}}</a>
      </div>
      <div class="col-md">
        <img src="{{ site.baseurl }}/{{ page.image }}" class="img-fluid mt-5 mt-md-0" alt="Responsive image">
      </div>
    </div>
  </div>
